#contact-page {
  padding: 3em;
  .cp__title{
    color: #e7158d;
    padding-bottom: 2em;
    font-size: xx-large;
  }
  .cp__title-form{
    color: #e7158d;
    font-size: x-large;
  }
  .cp__input-form{
      border: #e7158d solid 2px;
  }
  .cp__row-fix{
    padding-top: 5em;
  }
}
