#custom-order{
  padding: 3em;
  .co__title{
    color: #e7158d;
    font-size: xx-large;
  }
  .co__description{
    font-size: large;
    color: #e7158d;
  }
  .co__title-form{
    color: #e7158d;
    padding: 5px;
    font-size: x-large;
  }
  .co__form-fix{
    padding: 1em;
  }
  input{

    .form-input{
      border: #002434 2px solid ;
    margin: 2px;
    }
  }

  textarea{
  }
  #submit-form{
    margin: 2em 2em 2em 0px;
  }
}
