{% load i18n %}
{% load staticfiles %}
{% load placeholder %}

{% for product in products %}
  <div class="col-12 col-lg-3 product-list">
    <a href="{{ product.get_absolute_url }}" class="link--clean">
      <div class="text-center">
        <div>
          <img class="img-responsive lazyload lazypreload"
               alt=""
               src="{% placeholder size=255 %}">
          <span class="product-list-item-name" title="{{ product }}">{{ product }}</span>
        </div>
      </div>
    </a>
  </div>
{% endfor %}