{% extends "base.html" %}
{% load i18n %}
{% load shop %}
{% load staticfiles %}
{% load build_absolute_uri from urls %}

{% load placeholder %}
{% block footer_scripts %}
  {{ block.super }}
{% endblock footer_scripts %}

{% block extra_tags %}
  <link rel="stylesheet" href="https://js.arcgis.com/4.7/esri/css/main.css">
  <link rel="stylesheet" href="/static/assets/map.css">
{% endblock extra_tags %}

{% block content %}
  <br>
  <br>
  <br>

  <div id="root" data-url="{% url 'eddm:order' %}" data-eddm-url="{{ eddm_url }}">
  </div>
  <script>

  </script>
  <script type="text/javascript" src="/static/assets/map.js"></script>
{% endblock content %}
