{% extends "base.html" %}
{% load i18n %}
{% load shop %}
{% load staticfiles %}
{% load build_absolute_uri from urls %}

{% load placeholder %}
{% block footer_scripts %}
{{ block.super }}
{% endblock footer_scripts %}

{% block title %}
Reset Cart
{% endblock %}

{% block content %}

<section id="eddm" style="padding-top: 150px; padding-bottom: 150px">
    <h1 class="text-center primary-color">Attention</h1>
    <h3 class="text-center">Be careful when accessing the Full Service EDDM service all products will be deleted If you agree press the hippopotamus.</h3>
    <br>
    <br>

        <div class="d-flex justify-content-center ">
        <a href="{% url 'eddm:reset' %}"><img class="img-fluid" src="/static/images/pinkhippo.png" alt="pinkhippo"></a>
        </div>


</section>


{% endblock content %}

