.footer {
  background-color: $color-theme;
  padding: $global-padding * 2 0;
  margin-top: $global-margin * 8;
  font-weight: 600;
  a{
    color: white;
  }
  @include media-breakpoint-down(xs) {
    text-align: center;
    margin-top: $global-margin * 2;
  }
  &__logo {
    margin-bottom: $global-margin;
    svg {
      @include media-breakpoint-down(md) {
        height: 30px;
      }
      @include media-breakpoint-down(sm) {
        height: 40px;
      }
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    a {
      color: $white;
      line-height: 2;
    }
  }
  a {
    transition: 0.3s;
    &:hover {
      text-decoration: none;
      opacity: 0.6;
    }
    &.social-footer {
      &:hover{
              fill: pink;
      }
      margin-right: $global-margin;
    }
  }
}

.maincontent {
  @include media-breakpoint-down(sm) {
    margin-top: $global-margin * 7;
  }
}
