{% extends "base.html" %}
{% load i18n %}
{% load shop %}
{% load staticfiles %}
{% load build_absolute_uri from urls %}

{% load placeholder %}
{% block footer_scripts %}
  {{ block.super }}
{% endblock footer_scripts %}


{% block content %}
  <main id="contact-page">

    <h2 class="cp__title">Drop us a note, we will get back to you shortly.</h2>

    <form>
      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-6 form-group">
          <label class="cp__title-form" for="nameInput">Name</label>
          <input type="text" class="form-control cp__input-form" id="nameInput"
                 placeholder="John Sailor">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 form-group">
          <label class="cp__title-form" for="emailInput">Email</label>
          <input type="email" class="form-control cp__input-form" id="emailInput" placeholder="iam@example.com">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label class="cp__title-form" for="messageInput">Message</label>
          <textarea class="form-control cp__input-form" id="messageInput" placeholder="Hello my friend..."></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 clearfix">
          <button type="submit" class="btn btn-outline-primary btn-lg float-right ">Submit</button>
        </div>
      </div>
    </form>

    <div class="row cp__row-fix" >
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img class="img-fluid" src="/static/images/hippo_name-1.png" alt="">
      </div>
    </div>
  </main>


{% endblock content %}
