{% load static %}

<meta name="application-name" content="{{ site.name }}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/LOGO.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/LOGO.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/LOGO.png' %}">
<link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#78818f">
