{% extends "base.html" %}
{% load i18n %}
{% block homeservices %}

<div class="homepage">
      <style>
        .homepage h1 {
          color: white;
          font-size: xx-large;
        }

        .homepage h2 {
          color: white;
          font-size: x-large;
        }

        .homepage p {
          color: white;
          font-size: x-large;
        }

        .services h1 {
          color: black;
          font-size: xx-large;
        }
        .row-service {
          padding: 35px 50px 5px 50px;
        }
        .row-service h2 {
          color: #e7158d
        }
        .row-service p {
          font-size: large;
          padding: 5px 70px 35px 70px;

        }
        .btn-outline-primary:active{
          background-color: #e7158d
        }

      </style>
      <div class="container-fluid">
        <div class="row" style="padding: 2em 50px 2em ;
       ;background-color: #002434;">
          <div class="col-sm-12 col-md-12 col-lg-6" style="padding: 0px 50px 50px;" data-aos="fade-up">
            <img class="img-fluid" src="/static/images/print.png" alt="Alternative"/>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 text-center fix-responsive"  data-aos="fade-up">
            <h1 data-aos="fade-up" style="font-size: xx-large; font-weight: bold; padding-bottom: 20px;">
              {% trans "Full Service Print Shop" context "Homepage title" %}
            </h1>
            <p >
              From business cards to promotional products,
              <br>The Pink Hippo can do it all.
            </p>
            <br>
            <p >
              Stop by our Print Shop and
              see what we’ve <br> got to offer!
            </p>
            <br>
            <a href="products/category/print-products-11/" class="btn btn-outline-secondary home__button">
              Shop Now
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="services">
      <div class="container-fluid text-center">
        <div class="row" style="padding-top: 70px">
          <div class="col-sm-12">
            <h1 class="text-center" style="color: #e7158d; font-weight: 700;">
              <strong>{% trans "Pink Hippo Full Service Every Door Direct Mail (EDDM)" context "Homepage title" %}&nbsp;</strong>
            </h1>
            <p style="color: #e7158d">It’s easy as 1,2,3!</p>
          </div>
        </div>
        <div class="row row-service" >
          <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
            <img class="img-fluid" src="/static/images/postcard.png" alt="">
            <h2 >{% trans "1. Choose a Product" context "Homepage title"%}</h2>
            <p>
             {% trans " Choose from postcards to sellsheets we offer, all of them USPS approved." context "Homepage title" %}
            </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-up">
            <img class="img-fluid" src="/static/images/map.png" alt="">
            <h2>{% trans "2. Choose Your Routes" context "Homepage title"%}</h2>
            <p>
              {% trans "Use our interactive mapping tool to choose what area to target and deliver to." context "Homepage title" %}
            </p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4" data-aos="fade-up">
            <img class="img-fluid" src="/static/images/relax.png" alt="">
            <h2>{% trans "3. Let us Handle the Rest!" context "Homepage title" %} </h2>
            <p >
              {% trans "We take care of the whole EDDM process. We bundle and tag the orders, and delivery directly to the local USPS post office for delivery." context "Homepage title"%}

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <a href="products/category/print-products/full-service-eddm-16/" class="btn btn-outline-primary home__button " style="border: #e7158d solid 2px;color: #e7158d; width: 30%; margin-bottom: 50px ">
              Start Now
            </a>
          </div>
        </div>

      </div>
    </div>
{% endblock homeservices %}
{% block content %}

      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    </div>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
