{% extends "base.html" %}

{% load i18n %}
{% load prices_i18n %}
{% load staticfiles %}

{% block title %}{% trans "Checkout" context "Checkout page title" %} — {{ block.super }}{% endblock %}

{% block header %}
  <div class="container navbar__login">
    <p>{% trans "Easy and secure!" context "Checkout top message" %}</p>
  </div>
  <header class="checkout__header">
    <div class="container">
      <a href="{% url 'home'%}">
                      <img src="{% static "images/pinkhippo.png" %}" alt="pinkhippo logo" height="50px;" width="90px;">

        <!--svg data-src="{% static "images/logo.svg" %}" height="38px" width="176px" -->
      </a>
      <h1>{% trans "Checkout" context "Checkout title" %}</h1>
    </div>
  </header>
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  <div class="row checkout">
    <div class="col-md-7">
      {% block forms %}{% endblock %}
    </div>
    <div class="col-md-5">
      {% with total=checkout.get_total %}
        <div class="checkout__review">
          <h3 class="checkout__review__tittle">{% trans "Order review" context "Order review title" %}</h3>
          {% for shipment, shipment_cost, total_with_shipment in checkout.deliveries %}
            {% for item, item_price_per_item, item_price_total in shipment %}
              <div class="row">
                <div class="col-8">
                  <p><strong>{{ item.variant.product }}</strong> x {{ item.quantity }}<br>
                    <span class="checkout__review__variant">{{ item.variant }}</span></p>
                </div>
                <div class="col-4">
                  <p class="float-right">{{ item_price_total.net|amount }}</p>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
          <div class="row checkout__review__section">
            <div class="col-8">
              <p>{% trans "Shipment" context "Order review section" %}</p>
            </div>
            <div class="col-4">
              <p class="float-right">
                {% if checkout.shipping_method %}
                  {{ checkout.shipping_method.get_total_price.gross|amount }}
                {% else %}
                  &mdash;
                {% endif %}
              </p>
            </div>
          </div>
          <div class="row checkout__review__section">
            <div class="col-12">
              <h3>{% trans "Promo code" context "Order review section title" %}</h3>
              {% include "checkout/snippets/voucher_form.html" with checkout=checkout form=voucher_form %}
            </div>
          </div>
          <div class="row checkout__review__section">
            <div class="col-8">
              <h3>{% trans "Total" context "Order review section title" %}</h3>
            </div>
            <div class="col-4">
              <h3 class="float-right">{{ total.gross|amount:'html' }}</h3>
            </div>
          </div>
        </div>
      {% endwith %}
    </div>
  </div>
{% endblock content %}
