@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/cards";
@import "components/cart-dropdown";
@import "components/filters";
@import "components/footer";
@import "components/forms";
@import "components/header";
@import "components/labels";
@import "components/loader";
@import "components/pagination";
@import "components/table";
@import "components/tabs";
@import "components/typography";
@import "components/variant-picker";
@import "layouts/account";
@import "layouts/cart";
@import "layouts/contact";
@import "layouts/custom-order";
@import "layouts/checkout";
@import "layouts/home";
@import "layouts/login";
@import "layouts/no-results";
@import "layouts/order-details";
@import "layouts/product-list";
@import "layouts/product-page";
@import "layouts/styleguide";

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

@include media-breakpoint-down(sm) {
  .fix-responsive {
    padding: 0px;
  }
  .map-container {
    width: 100%;
    height: 400px;

  }
}

@include media-breakpoint-up(sm) {
  .fix-responsive {
    padding: 100px 100px 100px;
  }

}
