{% extends "base.html" %}
{% load i18n %}
{% load shop %}
{% load staticfiles %}
{% load build_absolute_uri from urls %}

{% load placeholder %}
{% block footer_scripts %}
  {{ block.super }}
{% endblock footer_scripts %}


{% block content %}

  <main id="custom-order">
    <h2 class="co__title">Got a custom order? NO PROBLEM!</h2>
    <p class="co__description">If you need some printed, but can’t find it on our site, don’t worry! If you can dream
      it, we can make it! Fill
      out
      the form below to get started,
      well get back to you to discuss the details and give you a full quote!
    </p>
    <form>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 form-group">

          <label class="co__title-form" for="firstname">Firtst Name</label>
          <input type="text" class="form-control form-input" id="firstname" aria-describedby="firstNameHelp" placeholder="John">

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <label class="co__title-form" for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname" aria-describedby="lastNameHelp" placeholder="Saleor">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <label class="co__title-form" for="email">Email*</label>
          <input type="email" class="form-control form-input" id="email" placeholder="saleor@example.com">

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <label class="co__title-form" for="phone">Phone*</label>
          <input type="phone" class="form-control form-input" id="phone" placeholder="9841221134">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label class="co__title-form" for="project">Project Title</label>
          <input type="text" class="form-control form-input" id="project" placeholder="Taski">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label class="co__title-form" for="project">Project Description</label>
          <textarea class="form-control form-input" id="project" placeholder="Is biiiig!!"></textarea>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <label class="co__title-form" for="size">Size</label>
          <input type="text" class="form-control form-input" id="size" placeholder="20x19">

        </div>
        <div class="col-sm-12 col-md-4">
          <label class="co__title-form" for="quantity">Quantity</label>
          <input type="number" class="form-control form-input" id="quantity" placeholder="25000">

        </div>
        <div class="col-sm-12 col-md-4">
          <label class="co__title-form" for="paper">Paper Stock</label>
          <input type="number" class="form-control form-input" id="paper" placeholder="Cover">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label class="co__title-form" for="due">Due Date</label>
          <input type="date" class="form-control form-input" id="due">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label class="co__title-form" for="">Design</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                   checked>
            <label class="form-check-label" for="exampleRadios1">
              Have Design
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Need Design
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="co__title-form" for="exampleFormControlFile1">File Uploads</label>
            <input type="file" class="form-control-file form-input" id="exampleFormControlFile1">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 clearfix">
          <button id="submit-form" type="submit" class="btn btn-outline-primary btn-lg float-left">Submit</button>
        </div>
      </div>
    </form>

    <div class="row" style="padding-top: 5em;">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img class="img-fluid" src="/static/images/hippo_name-1.png" alt="">
      </div>
    </div>
  </main>


{% endblock content %}
